<% unless @reviews.nil? %>
  <h2> Reviews </h2>
  <ol>
    <% @reviews.each do |review| %>
    <li>  rating: <%= review.rating %> | <%= review.content %>
        by <%= review.user.first_name %> <%= review.user.last_name %>
        <% if current_user.nil? %>
            <p> Please sign in to edit a review </p>
        <% elsif current_user.admin? || current_user.id == @comic.user_id %>
          <%= link_to 'Edit Review', edit_comic_review_path(@comic,review) %>
          <%= button_to "delete",[@comic,review], :method=>:delete, :class=>:destroy %>
        <% end %>
    <% end %>
<% end %>
