<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <div id="main-containter" class="container">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div id="flash-container">
      <% flash.each do |key, value|  %>
        <%= value %>
        <% end %>
      </div>
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %>
            <%= link_to "Add New Comic", new_comic_path, class: "nav-link" %>
          <% else %>
             <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
             <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
           <% end %>

           <%= link_to "Comics", comics_path, class: "nav-link" %>

      </nav>

      <%= yield %>
  </div>
</body>
</html>
