<!DOCTYPE html>
<html>
  <head>
    <title>ComicReviewApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>
    <section class ="flash">
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>
    <%= yield %>
  </body>
</html>
